.sizepage {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
}

.sizepagepass {
    padding-left: 500px;
    padding-right: 500px;
}

.rememberme {
    padding-left: 500px;
}

.button1 {
    background-color: #555555;;
    color: rgb(239, 243, 243);
    padding: 10px 24px;;
    margin-left: 500px;
    margin-bottom: 100px;
}

.inp {
    border-color: chartreuse;
}

.nameinp {
    font-style: italic;
    color: rgb(10, 10, 10);
}

.sign {
    text-align: justify;
    margin-left: 500px;
    margin-top: 50px;

}

.back {
    background-color: rgb(154, 156, 152);
    margin-left: 100px;
    margin-right: 100px;
}

.space {
    margin-top: 30px;
}